*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    transition: 0.5s all ease;
}
.main-cont{
    width: 40%;
    height: 101%;
    overflow: hidden;
    position: relative;
    transition: 0.5s all ease;
}
a{
    text-decoration: none;
    color: white;
}
.hd{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--maincolor);
    color: white;
    display: none;
}
.hd-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
.hd-1 .logo{
    font-size: 20px;
}
.hd-ico i{
    font-size: 20px;
    margin-left: 35px;
}
.hd-2{
    width: 100%;
    display: flex;
    padding: 10px;
}
.com{
    width: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.c-l{
    width: 100%;
    display: flex;
}
.hd-2 .c-l span{
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}
.hd-2 .c-l span::before{
    content: "";
    width: 120px;
    height: 4px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 26px;
    display: none;
}
.hd-2 .c-l .calls::before{
    display: none;
}
.hd-2 .c-l .status::before{
    display: none;
}
.com::before{
    content: "";
    width: 50px;
    height: 4px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top:26px;
    left: -10px;
    display: none;
}
.hd-2 .c-l span a{
    display: flex;
    align-items: center;
}
.count{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--maincolor);
    font-size: 12px;
    font-weight: 600;
    margin-left: 5px;
}
.intro{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 25vh;
}
.int-1{
    font-size: 100px;
    color: #26d367;
}
.int-2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2.5px solid #26d367;
    border-right-color: transparent;
    border-bottom-color: transparent;
    animation: spin 0.5s linear infinite;
    margin-top: 10vh;
}
@keyframes spin{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}
.int-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 33vh
}
.int-3 p{
    font-size: 20px;
    font-weight: 600;
    color: #26d367;
}
.int-3 span{
    font-size: 15px;
}
.ch{
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 85%;
    display: none;
}
.ch::-webkit-scrollbar-thumb,.stt::-webkit-scrollbar-thumb,
.call::-webkit-scrollbar-thumb
{
    background-color: var(--maincolor);
}
.ch::-webkit-scrollbar,.stt::-webkit-scrollbar,.call::-webkit-scrollbar
{
    width: 10px;
    background-color: whitesmoke;
}
.chat{
    width: 100%;
    display: flex;
    padding:  10px 13px;
    align-items: center;
    justify-content: space-between;
    transition: 0.2s all ease;
}
.chat:hover{
    background-color: whitesmoke;
}
.message{
    margin-left: 20px;
}
.message span{
    font-size: 18px;
    margin-bottom: 5px;
}
.message p{
    font-size: 15px;
}
.time{
    font-size: 15px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.time p{
    font-size: 15px;
}
.time i{
    margin-top: 10px;
    font-size: 20px;
    transform: rotate(45deg);
}
.time .count{
    width: 25px;
    height: 25px;
    background-color: var(--maincolor);
    color: white;
}
.menuu{
    position: absolute;
    width: 50%;
    display: flex;
    flex-direction: column;
    top: 0%;
    left: 50%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.414);
    z-index: 999;
    display: none;
    transition: 0.5s all ease;
}
.menuu span{
    width: 100%;
    display: inline-block;
    padding: 20px;
}
.menuu span:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
#lm{
    display: none;
}
#st{
    display: none;
}
.stt{
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 85%;
    display: none;
}
.add-stat{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px 15px;
}
.add-1{
    position: relative;
}
.add-ico{
    position: absolute;
    z-index: 1;
    top: 30px;
    left: 40px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color:var(--maincolor);
    color: white;
    border: 2.5px solid white;
    transition: 0.2s all ease;
}
.add-2{
    margin-left: 15px;
}
.add-2 span{
    font-size: 18px;
}
.add-2 p{
    font-size: 15px;
}
.tit{
    padding: 13px 15px;
    width: 100%;
}
.n-stat{
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    transition: 0.2s all ease;
}
.n-1 span{
    width: 70px;
    height: 70px;
    display: flex;
    border-radius: 50%;
    border: 2.4px solid #2fc76e;
    align-items: center;
    justify-content: center;
}.n-1 img{
    width: 60px;
    height: 60px;
    display: flex;
    border-radius: 50%;
}
.n-2{
    margin-left: 15px;
}
.n-2 span{
    font-size: 18px;
}
.n-2 p{
    font-size: 15px;
}
.v-stat{
    width: 100%;
}
.v-stat .n-1 span{
    border: 2.4px solid #b1babe;
}
.add-stat:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
.add-stat:hover ,.n-stat:hover{
    background-color: whitesmoke;
    cursor: pointer;
}
.call{
    width: 100%;
    display: none;
}
.cr-call{
    display: flex;
    align-items: center;
    padding: 13px 15px;
    cursor: pointer;
}
.link{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 23px;
    background-color: #008069;
    color: white;
}
.cr-txt{
    margin-left: 15px;
}
.cr-txt span{
    font-size: 18px;
}
.cr-txt p{
    font-size: 15px;
}
.call-cont{
    width: 100%;
}
.c{
    width: 100%;
    padding: 13px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.c-1{
    display: flex;
    align-items: center;
}
.call-info{
    margin-left: 15px;
}
.ar-ic{
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transform: rotate(45deg);
    color: red;
}
.c-2{
    font-size: 20px;
    color: #008069;
}
@media screen and (max-width:1350px){
    .main-cont{
        width: 60%;
    }
}
@media screen and (max-width:777px){
    .main-cont{
        width: 100%;
        height: 101%;
    }
}
@media screen and (min-width:300px) and (max-width:453px){
    .message p{
        font-size: 13px;
    }
}
@media screen and (min-width:1900px){
    .main-cont{
        width: 75%;
    }
}